torch==2.0.1+cu118
scipy==1.13.1               
transformers==4.27.0
diffusers==0.24.0                
gradio==3.50.2                   
einops==0.6.1                   
pytorch_lightning==2.0.8                   
accelerate==0.17.0                   
opencv-python==4.8.0.76                   
torchvision==0.15.2+cu118 
huggingface-hub==0.23.2
lpips==0.1.4
openai-clip==1.0.1
omegaconf==2.3.0
fvcore==0.1.5.post20221221
bitsandbytes==0.44.0
ipython==8.18.1
scikit-learn==1.6.1